@use '../src/styles/font.scss' as *;
@use '../src/styles/reset.scss' as *;
@use '../src/styles/variables.scss' as *;

p,
a {
  color: $gray-3;
  font-family: $font-default;
}

button {
  background: inherit;
  border: none;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
}

.project {
  max-width: 1160px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 180px 0px;
  gap: 60px;
}

.project__title {
  margin: 0;
  h2 {
    font-family: $font-point;
    font-size: 40px;
    line-height: 48px;
  }
}

.project__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.card {
  display: flex;
  justify-content: space-between;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.card__title {
  font-size: 32px;
  font-weight: $bold;
}

.card__meta,
.card__content {
  font-size: 20px;
  font-weight: $bold;
  color: $gray-2;
}

.card__img {
  img {
    width: 100%;
    max-width: 369px;
    height: 242px;
    object-fit: cover;
  }
}
