@use '../src/styles/variables.scss' as *;
@use '../src/styles/font.scss' as *;
@use '../src/styles/reset.scss' as *;

.topics__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  a {
    text-decoration-line: none;
    font-size: 14px;
    font-weight: $bold;
  }
}

.topics__back {
  :hover {
    span {
      &:nth-child(1) {
        animation-name: move;
        animation-duration: 0.2s;
        animation-timing-function: ease-in-out;
      }
      &:nth-child(2) {
        letter-spacing: 1.12px;
        transition: all 0.2s ease;
      }
    }
  }
}

@keyframes move {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(0px);
  }
}

.topics__back--style {
  display: flex;
  flex-direction: row;
  gap: 14px;

  transition: all 0.2s ease;
}

#underline {
  border-bottom: 1px solid;
  color: #d9d9d9;
  padding-bottom: 16px;
}

.topics__main {
  display: flex;
  flex-direction: column;
  gap: 120px;

  h1 {
    font-size: 40px;
    font-weight: $bold;
    line-height: 1.8;
  }
}

.topics__meta {
  display: flex;
  flex-direction: row;
  gap: 16px;
  p {
    font-size: 16px;
    font-weight: $bold;
  }
}

.topics__content {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;

  img {
    width: 100%;
    max-height: 366px;
    object-fit: cover;
  }

  p,
  a,
  h2,
  li,
  pre,
  div,
  blockquote {
    font-size: 20px;
    font-weight: $semibold;
    line-height: 1.2;
  }
}
