@use '../styles/font.scss' as *;
@use '../styles/reset.scss' as *;
@use '../styles/variables.scss' as *;

p,
a {
  color: $gray-3;
  font-family: $font-default;
}

button {
  background: inherit;
  border: none;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;

  .topics,
  .projects {
    max-width: 1160px;
    width: 100%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    padding: 180px 32px;
    gap: 60px;
  }
}
