/* Pretendard Variable */
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Inter Variable */
@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/InterVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Stencil */
@font-face {
  font-family: 'Stencil';
  src: url('@/assets/fonts/Stencil.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Inter', 'Pretendard', system-ui, sans-serif;
}
