// black color
$gray-1: #ffffff;
$gray-2: #666666;
$gray-3: #333333;
$gray-4: #191210;

// primary color
$primary: #38a6f4;

// weight
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// font
$font-default: 'Inter', 'Pretendard', sans-serif;
$font-point: 'Stencil', sans-serif;
