<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="header.scss" />
    <link rel="stylesheet" href="../../styles/common.scss" />
    <link rel="stylesheet" href="../../components/effect/effect.scss" />
    <title>IR Lab</title>
  </head>
  <body>
    <main>
      <section class="menu-mobile">
        <article class="menu-mobile__header">
          <button onclick="history.back()">X</button>
        </article>
        <article class="menu-mobile__body">
          <ul class="menu-mobile__list">
            <li class="menu-mobile__item scroll up">
              <a href="#">MEMBERS</a>
              <span class="gnb__underline"></span>
            </li>
            <li class="menu-mobile__item scroll up">
              <a href="../../../projects/index.html">PROJECTS</a>
            </li>
            <li class="menu-mobile__item scroll up">
              <a href="#">RESEARCH</a>
            </li>
            <li class="menu-mobile__item scroll up">
              <a href="../../../topics/index.html">TOPICS</a>
            </li>
            <li class="menu-mobile__button scroll up">
              <a href="../../../contact/index.html">CONTACT</a>
            </li>
          </ul>
        </article>
      </section>
    </main>
  </body>
  <script src="../effect/effect.js"></script>
</html>
